In [5]:
import numpy as np
import pandas as pd

myindex = ['usa', 'canada', 'africa']
mydata = [1989,1999,1890]
myseries = pd.Series(mydata,myindex)
myseries

usa       1989
canada    1999
africa    1890
dtype: int64

In [9]:
myseries[0]

C:\Users\98930\AppData\Local\Temp\ipykernel_1256\325975676.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myseries[0]

1989

In [10]:
myseries['usa']

1989

این کاری که میکنه اینه که خودش اینارو سری میکنه و رو به روی هم قرار میده:

In [11]:
ages = {'sam':5, 'amir':22, 'frankie':8}
pd.Series(ages)

sam         5
amir       22
frankie     8
dtype: int64

In [15]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [17]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [18]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [19]:
sales_q1["Japan"]

80

In [20]:
# Grab just the index keys
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [21]:
# Can Perform Operations Broadcasted across entire Series
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [23]:
# Notice how Pandas informs you of mismatch with NaN
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [22]:
# You can fill these with any value you want. the fill_value is what you should fill for existing the missing values in  both series. 
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64